
.DS_Store
NLP/novels/
NLP/bert-chinese-test.py
NLP/bert_chn_test.py
NLP/spacy_test.py
Map Tools/Intro.png
NLP/novels.zip
NLP/fairy_tales/
Jiang Hu/novels/
Jiang Hu/test_result.txt
*.xlsx
Jiang Hu/data/propp_raw_210310.txt
Jiang Hu/data/test_result.txt
Jiang Hu/data/rJ_v0.1.txt
Jiang Hu/scripts/__pycache__/
Jiang Hu/Reference/638 Primary Personality Traits.txt
Jiang Hu/Reference/638cn.txt
IMG_0091.jpeg
